*{
  box-sizing: border-box;
}

body{
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial', 'Helvetica', "sans-serif";
  background-color: #101426;
  color: #F4F7FF;
}

button{
  background-color: #F4F7FF;
  color: #101426;
}